@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:ital,wght@1,300&family=Grape+Nuts&family=Roboto+Slab:wght@300&display=swap');


* {
    padding: 0;
}

a {
    text-decoration: none;
    color: #cda45e
}

/* Nav bar*/

.nav-style {
    font-family: 'Fira Sans', sans-serif;
    float: right;
    text-align: center;
    color: #cda45e;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 48px;
}

.logo {
    font-family: 'Grape Nuts', cursive;
    font-size: xx-large;
    font-weight: 800;
    float: left;
    color: #cda45e;
    margin-top: 6px;
}

ul>.nav-style,
.logo {
    text-decoration: none;
    color: #cda45e;
    margin: 12px 24px 0 24px;
}

.nav-style:hover {
    color: white;
}

.nav-style:active {
    color: #8A7356;
}

.logo:hover {
    color: white;
}

.logo:active {
    color: #8A7356;
}


.fa {
    color: #cda45e;
}

/* body */

body {
    background-color: #ffebcd;
}

/* footer */

footer {
    background-color: black;
    overflow: hidden;
    color: #cda45e;
    margin-top: 36px;
}

footer p {
    float: left;
    margin-left: 36px;
    margin-top: 24px;
}


/* sign in */

.account-div {
    margin-top: 64px;
    width: 50%;
    margin-bottom: 36px;
}



/* button */

.form-btn {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .form-btn {
        padding: 19px 32px;
    }
}

.form-btn:before,
.form-btn:after {
    border-radius: 80px;
}


.form-btn:before {
    background-image: linear-gradient(92.83deg, #cda45e 0, #541a0f 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.form-btn:after {
    background-color: initial;
    background-image: linear-gradient(#360f08 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.form-btn:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(182, 138, 27) 0%, rgb(53, 8, 0) 100%);
}

.form-btn:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.form-btn:active:not(:disabled) {
    color: #ccc;
}

.form-btn:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #cda45e 0, #581103 100%);
}

.form-btn:active:not(:disabled):after {
    background-image: linear-gradient(#581103 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.form-btn:disabled {
    cursor: default;
    opacity: .24;
}

/* Booking page content*/


.card {
    flex-direction: column-reverse;
}

.edit-booking {
    float: right;
}

.btn-a {
    color: black;
    text-decoration: none;
}

.btn-a:hover {
    color: #fff;
}

/* Home Page */

.hero-img {
    min-width: 100%;
    height: auto;
}

.img-div {
    width: 100%;
    position: relative;
}

.img-btn {
    position: absolute;
    right: 50%;
    bottom: 50%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
    background-color: transparent;
}

.img-btn:hover {
    background-color: #555;
}

.img-btn>a:hover {
    color: white;
}


.img-div>h2 {
    position: absolute;
    right: 48%;
    bottom: 65%;
    font-family: 'Grape Nuts', cursive;
    font-size: 74px;
    font-weight: 900;
    color: #cda45e;

}

.img-div>p {
    position: absolute;
    right: 44%;
    bottom: 62%;
    color: black;
    font-size: x-large;
    font: bolder;
    font-weight: 800;
    font-family: 'Fira Sans', sans-serif;
}

/*open hours and map section */

.open-hours {
    margin-top: 36px;
    margin-bottom: 36px;
}

.open-hours>.justify-content-center {
    margin-bottom: 36px;
}

.open-hours .open-heading {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
}

.time p {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
}

#map {
    height: 320px;
    width: 60%;
}


/* Menu */


.menu .menu-item {
    margin-top: 50px;
    background-color: white;
    border: solid black;
    border-radius: 30px;
}


.menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.menu .menu-content span {
    position: relative;
    padding: 0 10px;
    font-weight: 700;
    color: #cda45e;
}

.menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 20px;
}


.subtitle {
    margin: 50px;
    font-family: 'Abril Fatface', cursive;
    color: #402E32;
    font-size: 36px;
    font-weight: 800;
}

.menu-content>h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}