* {
    padding: 0;
}

a {
    text-decoration: none;
    color: #B68A1B
}

/* Nav bar*/



nav {
    background-color: black;
    overflow: hidden;
}

.nav-items {
    float: right;
    text-align: center;
    color: #B68A1B;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 48px;
}

.logo {
    font-size: xx-large;
    font-weight: 800;
    float: left;
    color: #B68A1B;
}

nav a {
    text-decoration: none;
    color: #B68A1B;
    margin: 12px 24px 0 24px;
}

nav a:hover {
    color: white;
}



/* body */

body {
    background-color: #ffebcd;
}

/* footer */

footer {
    background-color: black;
    overflow: hidden;
    color: #B68A1B;
}

footer p {
    float: left;
    margin-left: 36px;
    margin-top: 24px;
}


/* sign in */

.account-div {
    margin-top: 64px;
    width: 50%;
    margin-bottom: 36px;
}



/* button */

.form-btn {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .form-btn {
        padding: 19px 32px;
    }
}

.form-btn:before,
.form-btn:after {
    border-radius: 80px;
}


.form-btn:before {
    background-image: linear-gradient(92.83deg, #B68A1B 0, #541a0f 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.form-btn:after {
    background-color: initial;
    background-image: linear-gradient(#360f08 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.form-btn:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(182, 138, 27) 0%, rgb(53, 8, 0) 100%);
}

.form-btn:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.form-btn:active:not(:disabled) {
    color: #ccc;
}

.form-btn:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #B68A1B 0, #581103 100%);
}

.form-btn:active:not(:disabled):after {
    background-image: linear-gradient(#581103 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.form-btn:disabled {
    cursor: default;
    opacity: .24;
}

/* Booking page content*/


.edit-booking {
    float: right;
}


/* Home Page */

.img-container {
    position: relative;
    width: 100%;

}


.landing-img {
    width: 100%;
    height: 80vh;
}



.img-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.img-container .btn:hover {
    background-color: black;
}