{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Side Restaurant</title>
    <script src="https://kit.fontawesome.com/a7cfe14bd2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Nav bar -->
    <div class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg bg-black sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="{% url 'home' %}">Sea Side</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" href="{% url 'menu' %}">Menu</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" href="{% url 'bookings' %}">Bookings</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" href="{% url 'account_logout' %}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active nav-style" href="{% url 'account_login' %}">Sign In</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Nav bar-->

        <!-- Messages -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismisible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <main class="flex-shrink-0 main-bg">
            {% block content %}


            {% endblock content %}
        </main>
        <!-- Footer -->
        <footer class="bg-black text-center mt-auto">
            <div class="container p-4 pb-0">
                <section class="mb-4">

                    <a class="btn btn-outline-light btn-floating m-1 s-link" href="https://www.facebook.com" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1 s-link" href="https://twitter.com" target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1 s-link" href="https://www.instagram.com" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1 s-link" href="https://www.linkedin.com" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                </section>
            </div>

            <div class="text-center p-3" style="background-color: #fff">
                © 2022 Copyright:
                <a class="copyright" href="{% url 'home' %}">Sea Side</a>
            </div>
        </footer>
        <!-- End Footer-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        setTimeout(function() {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
</body>

</html>