{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% for booking in booking_list %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-2 account-div">
                <div class="card">
                    <div class="card-header">
                        {% if user.is_authenticated %}
                        <div class="edit-booking">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <a class="btn-a" href="{% url 'edit' booking.id %}">Edit
                                </a>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm">
                                <a class="btn-a" href="{% url 'delete' booking.id %}">
                                    Delete
                                </a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% load account %}
                        <h4>{% user_display user %}</h4>
                        <ul class="card-text">
                            <li>Booking time: {{ booking.arrival_time }}</li>
                            <li>Until: {{ booking.leaving_time }}</li>
                            <li>Party size: {{ booking.num_of_guests }}</li>
                            <li>Special Requests: {{ booking.special_requests }}</li>
                            {% if booking.status == 1 %}
                            <li>Booking Approved </li>
                            {% else %}
                            <li>Booking waiting for approval</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if booking.updated_on %}
                    <div class="card-footer text-muted">
                        {{ booking.updated_on }}
                    </div>
                    {% else %}
                    <div class="card-footer text-muted">
                        {{ booking.created_on }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="div">
        <h3>
            You have no bookings at the moment
        </h3>
    </div>
</section>
{% endfor %}
<section class="booking-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-3">
                <p>Create a table booking</p>
                <form method="post">
                    <p>Booking as : {{user.username}}</p>
                    {{ form | crispy }}
                    {% csrf_token %}
                    <div class="text-center">
                        <button class=" book-btn" type="submit">Book Table</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="col-md-6 offset-md-2">
    <h3>
        Sorry! you have to be logged in to view this page!
        please <span><a href="{% url 'account_login' %}">Log In</a></span>.
    </h3>
</div>

{% endif %}

{% endblock %}