{% extends "base.html" %}


{% block content %}




{% for book in book_list %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 account-div">
            <div class="card">
                {% if book.status == 1 %}
                <div class="card-header">
                    <h5>Booking approved</h5>
                    <div class="spinner-grow text-success" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                </div>
                {% else %}
                <div class="card-header">
                    <h5>Booking waiting for approval</h5>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                </div>
                {% endif %}
                <div class="card-body">
                    <p class="card-text">
                        {% load account %}
                        {% user_display user %}<br>
                        Booking time: {{ book.arrival_time }}
                        <br>
                        Until: {{ book.leaving_time }}
                        <br>
                        Party size: {{ book.num_of_guests }}
                        <br>
                        Special Requests: {{ book.special_requests }}
                    </p>
                </div>
                {% if book.updated_on %}
                <div class="card-footer text-muted">
                    {{ book.updated_on }}
                </div>
                {% else %}
                <div class="card-footer text-muted">
                    {{ book.created_on }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}