{% extends "base.html" %}
{% load static %}
{% block content %}


<!--Hero Image-->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h2>Welcome to <span>Sea Side</span></h2>
                <h3>
                    Proud to provide service and quality food for over 10 years.
                </h3>
                <div class="btns">
                    <a href="{% url 'menu' %}" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    {% if user.is_authenticated %}
                    <a href=" {% url 'bookings' %}" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of hero image -->

<!-- Why us -->

<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sea Side Restaurant</h2>
            <p>Proud to provide service and quality food for over 10 years</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span><i class="fa-solid fa-star"></i></span>
                    <h4>Atmosphare</h4>
                    <p>Enjoy our beach side atmosphare all year round and quality music by world renounced DJs</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                    <h4>Service</h4>
                    <p>Our staff provide you wtih everything you need so you can feel at home.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                    <h4>Food</h4>
                    <p>Enjoy our top quality food made for you by our world renounced kitchen staff.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Why us -->

<!-- Events and Announcemnts section-->

<section id="event" class="event">
    {% for item in object_list %}
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="event-img">
                    {% if "placeholder" in item.img.url %}
                    <img src="https://res.cloudinary.com/jqueryenjoyer/image/upload/v1650302109/static/images/event.557ab93b5a8f.jpg" class="events-img" alt="placeholder img">
                    {% else %}
                    <img src="{{ item.img.url }}" class="events-img" alt="event image">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>{{ item.title }}</h3>
                <p class="fst-italic">
                    {{ item.content }}
                </p>
            </div>
        </div>
        {% empty %}
        {% endfor %}
    </div>

</section>

<!-- End of events -->

<!--Open Hours -->

<section class="open-hours">
    <div class="container-fluid">
        <div class="row row-grid">
            <div class="col-md-6">
                <div class="my-5 d-flex justify-content-center">
                    <h2>
                        Oppening Hours
                    </h2>
                </div>
                <div class="d-flex justify-content-around time">
                    <div>
                        <p>Monday-Friday</p>
                    </div>
                    <div>
                        <p><time datetime="10:00">10:00 AM</time>-<time datetime="23:00">23:00 PM</time></p>
                    </div>
                </div>
                <div class="d-flex justify-content-around time">
                    <div>
                        <p>saturday-Sunday</p>
                    </div>
                    <div>
                        <p><time datetime="12:00">12:00 PM</time>-<time datetime="23:00">23:00 PM</time></p>
                    </div>
                </div>
            </div>
            <!-- End of open hours -->

            <!-- Google Map Location-->
            <div class="col-md-6">
                <div class="my-5 d-flex justify-content-center">
                    <h2>
                        How to find us:
                    </h2>
                </div>
                <div class="col-md-4 offset-md-3" id="map">

                </div>
                <div class="col-md-4 offset-md-3">
                    <address>
                        Nya Beachside 15,<br>
                        258 26 <br>
                        Sundsvall Sweden
                    </address>
                </div>
            </div>
        </div>
</section>

<!-- End of location -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvK0tGuAa1_UCZ0B5U_hrdgt8zHzurUX8&callback=initMap&v=weekly" async></script>

<script>
    function initMap() {
        const seaside = {
            lat: 62.390246,
            lng: 17.320694
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: seaside,
        });
        const marker = new google.maps.Marker({
            position: seaside,
            map: map,
        });
    }
</script>






{% endblock %}