{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Chefs -->
<section id="chefs" class="chefs">
    <div class="container">

        <div class="section-title">
            <h2>Our Proffesional <span>Chefs</span></h2>
            <p>Our talents in the kitchen work behind the scenes to deliver you top-quality dishes.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="{% static '/images/chefs-1.jpg' %}" class="img-fluid" alt="chef nr 1"></div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span>Master Chef</span>
                        <div class="social">
                            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="{% static '/images/chefs-2.jpg' %}" class="img-fluid" alt="chef nr 2"></div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Patissier</span>
                        <div class="social">
                            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="{% static '/images/chefs-3.jpg' %}" class="img-fluid" alt="chef nr3"></div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>Cook</span>
                        <div class="social">
                            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of chefs -->

<!-- Menu -->
<div class="flex-row">
    <h2 class="d-flex justify-content-center subtitle">
        Starters
    </h2>
</div>

<section class="menu section-bg menu-space">
    {% for starter in starters %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 menu-item">
                <img src=" {{ starter.item_img.url }}" class="menu-img" alt="">
                <div class="menu-content">
                    <h5>{{ starter.name }}</h5><span>{{ starter.price}}</span>
                </div>
                <div class="menu-ingredients">
                    {{ starter.discreption | safe }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


<div class="flex-row">
    <h2 class="d-flex justify-content-center subtitle">
        Main Courses
    </h2>
</div>
<section class="menu section-bg menu-space">
    {% for main in mains %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 menu-item">
                <img src=" {{ main.item_img.url }}" class="menu-img" alt="">
                <div class="menu-content">
                    <h5>{{ main.name }}</h5><span>{{ main.price}}</span>
                </div>
                <div class="menu-ingredients">
                    {{ main.discreption | safe }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<div class="flex-row">
    <h2 class="d-flex justify-content-center subtitle">
        Side Orders
    </h2>
</div>
<section class="menu section-bg menu-space">
    {% for side in sides %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 menu-item">
                <img src=" {{ side.item_img.url }}" class="menu-img" alt="">
                <div class="menu-content">
                    <h5>{{ side.name }}</h5><span>{{ side.price}}</span>
                </div>
                <div class="menu-ingredients">
                    {{ side.discreption | safe  }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<div class="flex-row">
    <h2 class="d-flex justify-content-center subtitle">
        Desserts
    </h2>
</div>
<section class="menu section-bg menu-space">
    {% for desert in deserts %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 menu-item">
                <img src=" {{ desert.item_img.url }}" class="menu-img" alt="">
                <div class="menu-content">
                    <h5>{{ desert.name }}</h5><span>{{ desert.price}}</span>
                </div>
                <div class="menu-ingredients">
                    {{ desert.discreption | safe  }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- End of Menu -->


{% endblock %}